name = "daniel-bodnar-sh"
compatibility_date = "2025-11-26"
[assets]
directory = "./_site/"
not_found_handling = "404-page"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
